# INICIO DEL PROGRAMA

In [1]:
import ssl
import sys
import psycopg2 
import pandas as pd
import json

clave = input("ingresa clave de la BD?")
print("-----------")
print(clave)
conn = psycopg2.connect(host = 'localhost', user= 'postgres', password =clave, dbname= 'Sambil')

ingresa clave de la BD?12t09lma
-----------
12t09lma

## VISTAS DE BD

1) Top 5 personas que más han estado en el centro comercial en el último mes

In [2]:
sql='''select * from masvisitas'''
df = pd.read_sql_query(sql, conn)
print(df)

   cantidad      nombre
0        14    Chiquita
1        14      Temple
2        13     Nerissa
3        13      Jeremy
4        13  Cirstoforo

2) Porcentaje de las ventas hechas por personas con celulares inteligentes y sin celular inteligente

In [3]:
sql='''select * from porcentajeConMAC'''
df2 = pd.read_sql_query(sql, conn)
print(df2)

   conmac  sinmac
0      78      22

3) Top 3 tiendas con mayor cantdad de ventas

In [4]:
sql='''select * from  toptiendas'''
df3 = pd.read_sql_query(sql, conn)
print(df3)

   ventas      nombre
0    1575        nike
1    1558  timberland
2    1510        zara

4) Top 3 dias de mayor ventas

In [5]:
sql='''select * from  mayordiaventas'''
df4 = pd.read_sql_query(sql, conn)
print(df4)

   ventas      fecha      nombre
0  521.99   1-7-2019        nike
1  510.74   7-7-2019  timberland
2  495.96  12-6-2019        zara

5) Top 10 de edades mas comunes en el centro comercial

In [6]:
sql='''select * from  topedades'''
df5 = pd.read_sql_query(sql, conn)
print(df5)

   cantidad  edad
0       284    34
1       274    37
2       268    33
3       263    39
4       261    38
5       260    41
6       257    40
7       255    36
8       253    35
9       249    30

6) Porcentaje de entrada por sexo

In [7]:
sql='''select * from  topedades'''
df6 = pd.read_sql_query(sql, conn)
print(df6)

   cantidad  edad
0       284    34
1       274    37
2       268    33
3       263    39
4       261    38
5       260    41
6       257    40
7       255    36
8       253    35
9       249    30